{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="flex-shrink-0">
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% for flash_message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">{{ flash_message }}</div>
                    {% endfor %}

                    <div class="card mb-3">
                        <div class="card-header bg-dark text-white">Bienvenue sur FormationOnline!</div>
                        <div class="card-body">
                            <p class="card-text">
                                Savoir. Faire. Savoir-faire.
                            </p>
                            <p class="card-text">
                                Avec FormationOnline, découvrez une nouvelle façon d'apprendre : 20% de théorie, 80% de pratique.
                            </p>
                            {% if not app.user %}
                            <div class="text-center mt-4">
                                <a href="{{ path('app_register') }}" class="btn btn-primary">Démarrer mon inscription</a>
                            </div>
                            {% endif %}
                            <div class="text-center mt-4">
                                <a href="{{ path('app_register') }}" class="btn btn-outline-primary">Découvrir les formations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
